.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-image: url(/assets/images/connectwork.png);
}
/* End of base react stuff  */

/* start of navbar css */
.focus {
  text-align: center;
  color: black;
  background-color: #f2f4f3;
}
#navName {
  background-color: #22333b;
  margin-bottom: 0;
  color: #f2f4f3;
}

#mainNav {
  margin-top: 0;
  background-color: #22333b;
  margin-bottom: 30px;
  color: #f2f4f3;
  text-align: center;
}
.focusedProject {
  text-align: center;
  color: black;
}

@media (max-width: 145px) {
  .focus {
    max-width: 30%;
  }
}

.navPill {
  text-align: center;
}

.navPill:hover {
  background-color: #0d3b66;
  animation: grow 0.25s linear;
  transform: scale(1.12);
}

.fa-arrow-left {
  color: white;
  animation: pulse infinite 1s linear;
}

.fa-arrow-left:hover {
  animation: grow 0.25s linear;
  transform: scale(1.12);
  color: #5c9ead;
}

.fa-star {
  animation: wiggle infinite 2s linear;
}

.sticky {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.sticky + #content {
  padding-top: 70px;
}
@media (max-width: 415px) {
  .sticky + #content {
    padding-top: 150px;
  }
}
/* end of navbar css */

/* start of RenderSingle css */
.singleImage {
  margin-bottom: 5px;
  margin-right: 5px;
}

.description {
  text-align: left;
}

@media (min-width: 415px) {
  .singleImage {
    float: left;
    max-width: 30%;
  }
}

.resultsHeader {
  font-size: 20px;
  color: gray;
}

.singleText {
  text-align: left;
}

.singleLink {
  font-size: 30px;
  text-align: center;
}

.singleTextBox {
  background-color: #22333b;
  color: #f2f4f3;
  margin-bottom: 30px;
  padding: 5px;
}
/* end of renderSingle css */

/* thumbnails */
.projectThumbnail,
.featuredThumbnail {
  background-color: #22333b;
  color: #f2f4f3;
  padding: 0px;
  margin-bottom: 15px;
}

.featuredThumbnail :hover {
  background-color: #f2f4f3;
  color: #22333b;
}

.featuredImg :hover {
  animation: grow 0.25s linear;
  transform: scale(1.12);
}

.techUsed {
  text-align: center;
  color: black;
}

/* footer */
#footertext {
  float: none;
  color: grey;
  display: block;
  text-align: center;
  font-size: 16px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin: 0;
  height: 25px;
}

/* animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(1.12);
  }
  75% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.12);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

/* quality of life pointers */
.navPill,
.featuredThumbnail,
.fa-arrow-left,
.featuredImg:hover {
  cursor: pointer;
}
