.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 15px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body {
  background-image: url(/assets/images/16BitRiver.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* End of base react stuff */

/* Start of navbar */
.focus {
  text-align: center;
  color: black;
  background-color: #f2f4f3;
  border-radius: 25px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.navPill {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 3px;
}

#navName {
  margin-bottom: 0px;
}

#mainNav {
  margin-bottom: 30px;
  text-align: center;
}

#mainNav,
#navName {
  background-color: #22333b;
  color: #f2f4f3;
}

#focusedProject {
  text-align: center;
  color: white;
  background-color: black;
}

.navPill:hover {
  background-color: #0d3b66;
  animation: grow 0.25s linear;
  transform: scale(1.12);
  border-radius: 25px;
  z-index: 1;
  margin-bottom: 3px;
  margin-top: 3px;
}

.fa-arrow-left {
  color: white;
  animation: pulse infinite 1s linear;
}

.fa-arrow-left:hover {
  animation: pulseGrow 0.25s linear;
  transform: scale(1.12);
  color: red;
}

.fa-star {
  animation: wiggle infinite 2s linear;
}

.sticky {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + #content {
  padding-top: 70px;
}

@media (max-width: 415px) {
  .sticky + #content {
    padding-top: 155px;
  }
  #focusedProject {
    background-color: black;
    color: #f2f4f3;
    position: fixed;
    margin-bottom: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 767px) {
  #mainNav {
    margin-top: -1px;
  }
  .sticky + #content {
    padding-top: 155px;
  }
}
/* End of navbar */

/* Start of RenderSingle */
.singleImage {
  margin-bottom: 5px;
  margin-right: 5px;
  border-radius: 25px;
}

.description {
  text-align: left;
  font-size: 18px;
}

@media (min-width: 415px) {
  .singleImage {
    float: left;
    max-width: 30%;
  }
}

.resultsHeader {
  font-size: 20px;
  color: black;
  margin-bottom: 5px;
  clear: left;
}

.apiResults {
  margin-bottom: 3px;
}

.singleLink {
  font-size: 30px;
  text-align: center;
}

.singleTextBox {
  text-align: left;
  background-color: #293738;
  background-image: url(/assets/images/blackOrchid.png);
  color: #f2f4f3;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 25px;
  animation: fadeIn 0.3s linear;
}

.techUsed {
  text-align: center;
}
/* End of renderSingle */

/* Thumbnails */
.projectThumbnail,
.featuredThumbnail {
  background-color: #22333b;
  background-image: url(/assets/images/3pxTile.png);
  color: white;
  padding: 0px;
  margin-bottom: 15px;
  animation: fadeIn 0.3s linear;
}

.featuredThumbnail :hover {
  background-color: #22333b;
  background-image: url(/assets/images/45DegreeFabricLight.png);
  color: #22333b;
}

.featuredImg :hover {
  animation: grow 0.25s linear;
  transform: scale(1.12);
}

/* #content {
  max-width: 50%;
  interesting interaction
} */
/* End of thumbnail */

/* Footer */
#footertext {
  float: none;
  color: white;
  display: block;
  text-align: center;
  font-size: 16px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin: 0;
  height: 25px;
}

@media (max-width: 415px) {
  footer {
    display: none;
  }
}

/* Animations */

/* Old React Spin */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Associated with .fa-arrow-left */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(1.12);
  }
  75% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

/* Associated with .featuredImg :hover .navPill :hover */
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.12);
  }
}

/* Associated with .fa-arrow-left :hover */
@keyframes pulseGrow {
  100% {
    transform: scale(1.12);
  }
}

/* Associated with .fa-star */
@keyframes wiggle {
  0% {
    transform: rotate(-15deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}

/* Associated with .singleTextbox, .featuredThumbnail and projectThumbnail */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Quality of life pointers */
.navPill,
.featuredThumbnail,
.fa-arrow-left,
#newArrow,
.featuredImg:hover {
  cursor: pointer;
}
